.button {
    font-family: arial, sans-serif;
    font-size: 14px;
    color: #5F6368;
    border: 1px #5F6368;
    height: 34px;
    width: 120px;
    cursor: pointer;
    margin: 11px 16px  0 auto;
    border-radius: 4px;
   
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: arial, sans-serif;
    font-size: 14px;
    color: #5F6368
}

li {
    float: left;
}

#top-list a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    color: #5F6368;
    text-decoration: none;

}

#sign-in {
    background-color: #fff;
}

html,
body {
    height: 100%;
    position: relative;
    text-align: center;
}

.container {
    min-height: 100%;
}


#bottom-list a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    color: #5F6368;
    text-decoration: none;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

/*
* {
    box-sizing: border-box;
    font-family: arial, sans-serif;
}
*/

#container {
    min-height: 100vh;
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 100px
}

#box {
    border-radius: 25px;
    width: 400px;
    position: relative;
    left: -65px;


}

.search {
    width: 571px;
    height: 40px;
    border: 1px solid #d7d7c1;
    border-radius: 25px;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    outline: none;
    font-size: 16px;
    text-indent: 20px;

}

.image {
    display: block;
    margin: 0 auto;
    margin-top: 300px;
}
